body{
    background-color: #ffa600;
    text-align: center;
}
h1,h2,h3,h4,h5,h6{
    color:white;
    font-family: 'Trebuchet MS', sans-serif,Verdana;
}
p{
    color:white;
    font-family: 'Trebuchet MS', sans-serif,Verdana; 
    font-size: 30px;   
}
